{% extends "template.twig" %}
{% block head %}<title>Jardin supprimé</title>{% endblock %}

{% block content %}
<br><br><br><br><br><br>
<div class="container">
    <br><br>
    <h1>Votre jardin a bien été supprimé.</h1>
    <br>
    <button class="btn btn-success btn-lg"></span><a class="text-white" href="index.php?action=home">Acceuil du site</a></button>
    <br><br>
</div>
{% endblock %}
