{% extends "template.twig" %}
{% block head %}<title>Jardin confirmé.</title>{% endblock %}

{% block content %}
<br><br><br><br><br><br>
<div class="container">
    <br><br>
    <h1>Votre jardin a bien été créer. <br> Il est actuellement mis en avant sur la page d'accueil.</h1>
    <br>
    <button class="btn btn-success btn-lg"><span class="glyphicon glyphicon-user"></span><a class="text-white" href="index.php?action=login"> Se connecter </a></button>
    <br><br>
</div>
{% endblock %}
