{% extends "template.twig" %}

{% block head %}<title>Commentaire supprimé.</title>{% endblock %}

{% block content %}
<br><br><br><br><br><br>
<div class="container">
    <br><br>
    <h1>Le commentaire à bien été suprimé.</h1>
    <br>
    <button class="btn btn-success btn-lg"><span class="glyphicon glyphicon-user"></span><a class="text-white" href="index.php?action=dashboard"> Tableau de bord</a></button>
    <br><br>
</div>
{% endblock %}
