{% extends "template.twig" %}
{% block head %}<title>Erreur</title>{% endblock %}

{% block content %}
<br><br><br><br>
<div class="container">
        <br>
        <h1 ><strong>Une erreur est survenue : <br> {{ errorMessage }}</strong></h1>
        <br>
</div>
<br><br><br><br>
{% endblock %}
