{% extends "template.twig" %}
{% block head %}<title>Info commentaire</title>{% endblock %}

{% block content %}
<br><br><br><br><br><br>
<div class="container">
    <br><br>
    <h1>Il n'y a pas de commentaire.</h1>
    <br>
    <button class="btn btn-success btn-lg"><span class="glyphicon glyphicon-user"></span><a class="text-white" href="index.php?action=dashboard"> Revenir à l'administration des chapitres</a></button>
    <br><br>
</div>

{% endblock %}
